@charset "UTF-8";
/* CSS Document */


.carousel-cell {
  width: 300px;;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-cell > p{
	margin:0;
	line-height:200px;
	text-transform:uppercase;
	text-align:center;
	font-size:20px;
	}
.priceTag{
	width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
	display:none;
	cursor:default;
}
.priceTag span{
	line-height:60px;
	padding-left:20px;
	}
.priceTag button{
	    float: right;
    margin: 14px 20px 0px 10px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    height: 34px;
    width: 150px;
	cursor:pointer;
	}
.priceTag button:hover{
	color:#000;}
i.fa.fa-shopping-basket{
	padding-right:5px;
	}
body, html {
	width:100%;
	height:100%;
	font-family: 'Muli', sans-serif;
	color:#fff;
	letter-spacing:0.1em;
	font-weight:lighter;
	}
#header{
	width:100%;
	height:60px;
	background-color:#fff;
	position:fixed;
	z-index:3;
	text-align:right;
	font-size:11px;
	}
#header *{
	line-height:60px;}
#main{
	background-image:url(../img/main.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	width:100%;
	height:100%;
	display:inline-block;
	}
#page1{
	width:100%;
	height:100%;
	display:inline-block;
	}
.grey{
	color:#6B6B6B;
	}
.black{
	color:#000;}
.w90{
	width:90%;
	margin:auto;
	}
.padLeft10{
	padding-left:10px;
	}
.padLeft40{
	padding-left:40px;
	}
.padTop20{
	padding-top:20px;
	}
.margBot20{
	margin-bottom:20px;
}
.floatLeft{
	float:left;
	}
.inlineBlock{
	display:inline-block;
	}
.basketText{
	float:right;
	padding-right:92px;
	}
.logo{
	width:100%;
	}
.logoContainer{
	width:100%;
	display:inline-block;
	position:relative;
	top:30%;
	}
.menu{
	width:40px;
	float:right;
	height:auto;
	padding:100px 40px;
	position: absolute;
	right:0;
	top:0;
	z-index:2;
	cursor:pointer;
	}
.menuOpen{
	position:absolute;
	width:100%;
	top:0;
	right:0;
	height:100%;
	background-color:rgba(255, 255, 255, 0.5);
	display:none;
	z-index:0;
	}
.material-icons.arrow{
	color:#FFFFFF;
	font-size:60px;
	}
.material-icons.searchIcon{
	position:absolute;
	top:10px;
	left:10px;
	color:#ccc;
	}
.arrowContainer{
	bottom:0;
	position:absolute;
	width:100%;
	}
.arrow{
	width:50px;
	margin:auto;
	cursor:pointer;
	}
.whiteText{
	text-align:center;
    bottom: 72px;
    position: absolute;
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    border-bottom: 2px solid;
}
.headerIcons{
	display:inline-block;
	overflow:hidden;
	height:60px;
	font-size:28px!important;
	}
i.fa.fa-facebook-square:hover{
	color:#3b5998;
	}
i.fa.fa-instagram:hover{
	color:#fb3958;
	}
i.fa.fa-pinterest-square:hover{
	color:#C92228;
	}
i.fa.fa-twitter-square:hover{
	color:#0084b4;
	}
.searchContainer{
	width:70%;
	height: 100%;
    margin: auto;
	max-width:650px;
	}
.ui-widget{
	    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 50%;
	width:100%;
	}
.searchBox{
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
	width:100%;}

.searchBox:focus {
    outline: none !important;
    box-shadow: 0 0 15px #000;
}
.cakeSection{
	border-bottom:1px solid #6B6B6B;
}
.product{
	display:inline-block;
	width:100%;
	}
.product img{
	width:100%;
	margin-bottom:-15px;
	}
.productWrapper{
	overflow:hidden;}
/*MENU ICON */	
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px; 
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 420px) {
    .nomob{
		display:none;
		}
	.menu{
		padding: 80px 20px;
	}
	.padLeft40{
		padding-left:20px;}
	.searchContainer{
		width:90%;}
}



